* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

#main {
    background: #fff;
}

.section_main {
    background: #eee;
    border-radius: 20px;
}

.title_section {
    text-align: center;
    padding: 0.5rem 1rem;
}

.title_info {
    margin-bottom: 0.5rem;
}

#img-caption {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: #fff;
    padding: 1rem;
}

#img-caption {
    margin-top: 0.5rem;
}

.info_title {
    text-align: center;
    padding: 1rem;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin-left: 5rem;
}

#tribute_link {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tribute_link h4 {
    display: inline;
}

.qoute {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 1rem 2.5rem;
}